@import "../../../../app/mixins.scss";
@import "../../../../app/_variables.scss";
// @import "../../app/main.css";
@import "../../../../app/css/tokens.css";

.live-player,
.live-player-fullscreen {
    height: 100%;

    a {
        // opacity: 0;
        // z-index: -99 !important;
    }

    .back-btn,
    .play-pause-btn {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        width: 40px;
        height: 40px;
        transition: .5s;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
    .back-btn{
        z-index: 99;
    }


    #player-wrapperr {
        .play-pause-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%);
        }

        .fp-bar>.fp-progress.animated {
            background: var(--md-source);
        }

        .fp-bar>.fp-buffer {
            width: 100% !important;
        }

        .channel-name {
            position: absolute;
            top: -20px;
            padding-top: 40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            color: white;
            text-align: center;
            height: 100px;
            font-size: 18px;
            // background: linear-gradient(to bottom, rgb(0, 0, 0, 0.6), transparent);
        }
        .fp-play,.fp-pause{
            display: none;
        }
        .fp-controls {
            // display: none !important;
            position: absolute;
            bottom: 40px;
            left: 0;

            .fp-volume {
                display: none;
            }

            .fp-icon {
                display: none !important;
            }
        }

        .fp-header {
            display: none !important;
        }

        .live-bottom-controls {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 50%;
            align-items: center;
            column-gap: 30px;
            padding-left: 20px;
            justify-content: space-around;
            width: 100%;
            transform: translateX(-50%);
            background: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent);
            height: 50px;
            z-index: 1  ;

            .option {
                display: flex;
                column-gap: 5px;
                align-items: center;

                img {
                    width: 15px;
                    height: 15px;
                }

                p {
                    font-weight: 500;
                    color: white;
                }

                &:nth-child(1) {
                    img {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .live-bottom-controls-fullscreen {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 50%;
            align-items: center;
            column-gap: 30px;
            padding-left: 20px;
            justify-content: space-around;
            width: 100%;
            transform: translateX(-50%);
            background: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent);
            height: 100px;
            z-index: 999999;

            .option {
                display: flex;
                column-gap: 5px;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                }

                p {
                    font-weight: 500;
                    color: white;
                    font-size: 17px;
                }

                &:nth-child(1) {
                    img {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
        

        .error-modal {
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;    
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .back-btn {
                position: fixed;
                top: 20px;
                left: 20px;
                z-index: 9999999;
                width: 40px;
                height: 40px;
                transition: .5s;

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }

            p {
                color: white;
                font-weight: 500;
                font-size: 16px;
            }

            button {
                font-weight: 500;
                font-size: 14px;
                background-color: var(--md-ref-palette-primary50);
                color: white;
                border: none;
                outline: none;
                border-radius: 3px;
                padding: 10px;
                transition: .3s;

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
    }
}

.live-player-fullscreen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: black;
}

@media only screen and (max-width:900px) {
    .live-player {
        height: 250px;
    }
}

@media all and (display-mode:fullscreen) {
    .live-player {
        #player-wrapperr {
            .fp-controls {
                bottom: 90px;
            }
        }
    }
}