@import "../../app/mixins.scss";
@import "../../app/_variables.scss";
// @import "../../app/main.css";
@import "../../app/css/tokens.css";

.profileSection {
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    width: 100%;
    row-gap: 50px;
    height: 100vh;
    overflow-y: hidden;
    z-index: 9;
    flex-direction: column;
    .ad-container,.ad-container-2{
        width: 10%;
        height: auto;
        position: fixed;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    .ad-container-2{
        left: unset;
        right: 10px;
    }
    >img,
    >svg {
        max-height: 150px;
        // margin-top: -150px;
        // margin-bottom: 40px;
        max-width: 425px;
        max-height: 150px;

        path {
            &:last-child {
                fill: var(--md-ref-palette-primary40);
            }
        }
    }

    .manage-profile-btn-container {
        background-color: transparent;
        // position: fixed;
        // left: 0;
        // bottom: 0;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .manage-profile-btn {
            cursor: pointer;
            padding: 18px;
            width: 200px;
            background: transparent;
            color: white;
            font-size: 15px;
            font-weight: normal;
            border: 1px solid var(--md-source);
            letter-spacing: 1px;
            outline: none;
            border-radius: 5px;
            transition: .4s;
            background-color: var(--md-ref-palette-primary30);

            &:hover {
                opacity: 0.5;
            }
        }
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .profileList {
        max-height: 450px;
        overflow-y: scroll;

        .thumb {
            width: 180px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            background-color: var(--md-ref-palette-primary90);
            @include borderRadius(4px);
            transition: .4s;
            position: relative;

            .edit-delete-icons-container {
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                justify-content: center;
                column-gap: 20px;
                height: 100%;
                align-items: center;
                justify-content: center;
                background-color: rgba(104, 103, 103, 0.6);
                transition: .5s;

                img {
                    background-color: rgba(54, 54, 54, 0.6);
                    padding: 10px;
                    border-radius: 5px;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        background-color: rgb(87, 87, 87, 0.3);
                    }
                }
            }

            .text {
                font-size: 20px;
                font-weight: 500;
            }

            &:not(.add) {
                svg {
                    width: 100px;
                }
            }

            &.add {
                .thumb {
                    background-color: var(--md-ref-palette-primary40);
                }

                svg {
                    width: 70px;

                    circle {
                        fill: var(--md-ref-palette-primary30);
                    }
                }
            }

            &:hover {
                .thumb {
                    box-shadow: 0px 4px 30px 0px #B9B7FFB2;
                    border: $white solid 6px;
                }

                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .profileSection {
        .profileList{
        }
        .manage-profile-btn-container {
            height: 200px;
            .manage-profile-btn {
                width: 70%;
            }

        }
    }
}


@media (width:667px) and (height:375px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 25px !important;
        .manage-profile-btn-container{
            height: 50px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;
            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
       
    }
     .edit-modal-container{
        .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}

@media (width:667px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 25px !important;
        .manage-profile-btn-container{
            height: 80px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:684px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 25px !important;
        .manage-profile-btn-container{
            height: 50px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;
                
            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:736px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 25px !important;
        .manage-profile-btn-container{
            height: 50px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:734px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 25px !important;
        .manage-profile-btn-container{
            height: 50px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:760px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 25px !important;
        .manage-profile-btn-container{
            height: 50px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}

@media (width:740px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 30px !important;
        .manage-profile-btn-container{
            height: 80px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:915px){
    .profileSection{
        // border: 5px solid green !important;
       padding-top: 2%;
       overflow: hidden;
        row-gap: 25px !important;
        svg{
            max-height: 50px !important;
        }
        .manage-profile-btn-container{
            height: 50px !important;
            margin-bottom: 5px;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 40% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:800px) {
    .profileSection{
       padding-top: 2%;
       overflow: hidden;
        row-gap: 15px !important;
        svg{
            max-height: 60px !important;
        }
        .manage-profile-btn-container{
            height: 60px !important;
            margin-bottom: 5px;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 30% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:812px) {
    .profileSection{
       padding-top: 2%;
       overflow: hidden;
        row-gap: 20px !important;
        svg{
            max-height: 50px !important;
        }
        .manage-profile-btn-container{
            height: 60px !important;
            margin-bottom: 10px;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 25% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:780px){
    .profileSection{
       padding-top: 1%;
       overflow: hidden;
        row-gap: 15px !important;
        svg{
            max-height: 50px !important;
        }
        .manage-profile-btn-container{
            height: 60px !important;
            margin-bottom: 5px;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 80%;
                width: 30% !important;

            }
        }
        .profileList{
            padding: 0px !important;
            height: 50vh !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:880px) {
    .profileSection{
       padding-top: 2%;
       overflow: hidden;
        row-gap: 15px !important;
        svg{
            max-height: 60px !important;
        }
        .manage-profile-btn-container{
            height: 60px !important;
            margin-bottom: 5px;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 30% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:896px) {
    .profileSection{
       padding-top: 2%;
       overflow: hidden;
        row-gap: 30px !important;
        svg{
            max-height: 60px !important;
        }
        .manage-profile-btn-container{
            height: 60px !important;
            // margin-bottom: 5px;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 30% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media (width:932px) {
    .profileSection{
       padding-top: 2%;
       overflow: hidden;
        row-gap: 30px !important;
        svg{
            max-height: 60px !important;
        }
        .manage-profile-btn-container{
            height: 60px !important;
            // margin-bottom: 5px;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 30% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}
@media  (max-width:860px) and (orientation:landscape) {
    .profileSection{
       padding-top: 2%;
        row-gap: 9px !important;
        svg{
            height: 50px !important;
        }
        .manage-profile-btn-container{
            height: 40px !important;
            .manage-profile-btn{
                padding: 5px;
                font-size: 13px;
                width: fit-content;
                height: 100%;
                width: 30% !important;

            }
        }
        .profileList{
            row-gap: 10px !important;
            padding: 0px !important;
            .thumb{
                .edit-delete-icons-container{
                column-gap: 3px !important;
                    img{
                width: 35px;
                height: 35px;
                    }
                }
            }
            a{
                 .text{
                    font-size: 15px;
                }
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                  
                    svg{
                        height: 50px !important;
                    }
                }
            }
            .single-profile {
                .add{
                    .text{

                    }
                }
                .text{
                    font-size: 15px;
                }
                .thumb{
                    height: 100px !important;
                    width: 100px !important;
                    svg{
                       height: 50px !important;
                    }
                }
            }
        } 
    }
     .edit-modal-container{
         .heading{
            p{
            padding: 10px !important;
            }
        }
            .login{
                overflow: scroll;
            }
        }
}




