@import "../../app/mixins.scss";
@import "../../app/_variables.scss";
// @import "../../app/main.css";
@import "../../app/css/tokens.css";

.video-js-player,.video-js-player-fullscreen{
    position: relative;
    height: 100%;
    p,h1,h2{
        margin: 0;
        padding: 0;
    }
    .progress-bar, .progress-bar-wo-fullscreen{
        width: 100%;
        height: 9px;
        background-color: lightgray;
        margin-top: 15px;
        position: relative;
        border-radius: 3px;
        z-index: 999;
        .completed-progress{
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: var(--md-source);
            border-radius: 3px;
        }
    }
    .progress-bar-wo-fullscreen{
        position: absolute;
        bottom: 60px;
        left: 50%;
        z-index: 999;
        width: 95%;
        transform: translateX(-50%);
    }
    .current-program-timings{
        position: absolute;
        bottom: 75px;
        left: 50%;
        z-index: 999;
        width: 95%;
        display: flex;
        justify-content: space-between;
        transform: translateX(-50%);
        p{
            font-size: 17px;
            font-weight: bold;
            color: white;
        }
    }
    .error-modal {
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .back-btn {
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 9999999;
            width: 40px;
            height: 40px;
            transition: .5s;

            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }
        }

        p {
            color: white;
            font-weight: 500;
            font-size: 16px;
        }

        button {
            font-weight: 500;
            font-size: 14px;
            background-color: var(--md-ref-palette-primary50);
            color: white;
            border: none;
            outline: none;
            border-radius: 3px;
            padding: 10px;
            transition: .3s;

            &:hover {
                opacity: 0.6;
                cursor: pointer;
            }
        }
    }
    .current-program-info-container{
        width: 95%;
        height: 150px;
        position: fixed;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        z-index: 9999;
        .current-program-info{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;                
            .image-and-info{
                display: flex;
                align-items: flex-end;
                gap: 20px;
                img{
                    width: 70px;
                    height: 70px;
                    object-fit: contain;
                    background-color: rgb(255, 255, 255, .8);
                    border-radius: 5px;
                }
                .current-program-channel-details{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .current-channel{
                        font-size: 25px;
                        color: white;
                        font-size: bolder;
                    }
                    .current-program-info{
                        color: white;
                        font-size: 17px;
                        font-weight: 200;
                    }
                }
            }
         
        }
        .current-program-timing{
            p{
                color: white;
            }
        }
        
    }
    .live-full-screen-gradient{
        width: 100%;
        height: 250px;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 200px;
        background: linear-gradient(to top, black, transparent);
        
    }
    .back-btn{
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 1;
        width: 40px;
        height: 40px;
        transition: .5s;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
 
    .vjs-control-bar{
        display: none !important;
        background-color: transparent;
        
        button,.vjs-volume-panel,.vjs-current-time,.vjs-time-control,.vjs-duration{
            display: none;
        }
        .vjs-progress-control{
            position: absolute;
            bottom: 40px;
            left: 0;
            width: 100%;
            z-index: 9;
            height: 50px;
            .vjs-progress-holder{
                height: 12px;
                box-shadow: none;
            }
            .vjs-time-tooltip{
                font-size: 10px;
            }
            .vjs-play-progress{
                background-color: var(--md-source);
                &::before{
                    font-size: 28px
                }
            }
        }
    }
    .vjs-header{
        background:linear-gradient(to bottom, black, transparent);
        width: 100%;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        .channel-name{
            color: white;
            font-size: 17px;
            letter-spacing: 1px;
        }
        .live-indicator{
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 15px;
            color: white;
            background:rgba(131, 131, 131, 0.6);
            width: 70px;
            align-items: center;
            justify-content: center;
            border-radius: 7px;
            padding: 10px;
            .dot{
                background-color: red;
                width: 10px;
                height: 10px;
                border-radius: 50px;
                margin: 0;
            }
            p{
                margin: 0;
                padding: 0
                ;
            }
            :fullscreen{
                right: 10px
            }
        }
    }
    .play-pause-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // z-index: 99999 !important;
        width: 50px;
        height: 50px;
        transition: .5s;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }
    .vjs-player-btns-container{
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding-bottom: 10px;
        background:linear-gradient(to top, black, transparent);
       
        .option {
            display: flex;
            column-gap: 5px;
            align-items: center;
            .full-screen-icon{
                position: absolute;
                right: 10px;
                bottom: 0px;
                // font-size: 40px;
                // z-index: 999999;
                color: white;
                width: 30px;
                height: 50px;
            }
            img {
                width: 20px;
                height: 20px;
            }

            p {
                font-weight: bold;
                font-size: 13px;
                color: white;
            }

            &:nth-child(1) {
                img {
                    transform: rotate(180deg);
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}


.video-js-player-fullscreen{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: black;
    .video-js .vjs-tech{
     height: 100vh !important;   
    }
        .vjs-header{
            .live-indicator{
                left: unset;
                right: 80px;
            }
        }
        .vjs-control-bar{
            .vjs-progress-control{
                position: fixed;
                bottom: 70px;
            }
        }
        .play-pause-btn{
            width: 90px;
            height: 90px;
        }
        .vjs-player-btns-container{
            .option{
                img{
                    width: 35px;
                    height: 35px;
                }
                p{
                    padding: 5px;
                    font-size: 17px;
                }
            }
        }
}

.vjs-big-play-centered{
    height: 100% !important;
}

@media only screen and (max-width:500px){
    .video-js-player{
        height: 250px;
        .vjs-player-btns-container{
            .option{
                p{
                    display: none;
                }
            }
        }
        .vjs-header{
            .channel-name{
                font-size: 15px;
            }
            .live-indicator{
                font-size: 12px;
                padding: 7px;
                .dot{
                    width: 7px;
                    height: 7px;
                }
            }
        }
    }
}