@import "../../../app/mixins.scss";
@import "../../../app/_variables.scss";
// @import "../../app/main.css";
@import "../../../app/css/tokens.css";

.liveTv {
    .steamDetail {
        position: relative;
    }

    .loader-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--md-ref-palette-primary50);
    }

    .no-category-found {
        text-align: center;
        margin-top: 100px;
        color: white;
    }

    .MuiSlider-root {
        span {

            background-color: var(--md-ref-palette-primary50);
        }
    }
}

.no-epg-found {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.play-epg-icon {
    cursor: pointer;
    transition: .4s;
    font-size: 33px;
    &:hover {
        opacity: .6;
    }
}


.epg-dates {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    column-gap: 20px;
    align-items: center;
    padding-left: 10px;

    p {
        background-color: lightgray;
        min-width: fit-content;
        padding: 10px;
        border-radius: 100px;
        font-size: 14px;
        transition: .4s;

        &:hover {
            cursor: pointer;
        }
    }

    .selected-epg-date {
        background-color: var(--md-source);
        color: white;
        transform: scale(1.05);
    }
}

.no-data-found-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: white;

    h2 {
        color: white;
        text-align: center;
    }

    img {
        width: 120px;
        height: 120px;
    }
}