@import url(../css/tokens.css);
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/regular.woff) format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/medium.woff) format("woff2");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(../fonts/bold.woff) format("woff2");
}
* {
  font-family: "SF Pro Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  box-sizing: border-box;
  outline: none !important;
}

.btnGroup {
  display: flex;
}

html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  padding: 0;
}

body:not(.light) .btn {
  background-color: var(--md-ref-palette-secondary10);
  color: #fff;
  border: var(--md-ref-palette-primary40) solid 2px;
}
body:not(.light) .btn:hover {
  border-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
}
body:not(.light) .btn.playBtn {
  background-color: var(--md-ref-palette-primary40);
}
body.light .btn {
  color: #ffffff;
  background-color: var(--md-ref-palette-secondary10);
  border: var(--md-sys-color-primary-fixed-dim-light) solid 2px;
}
body.light .btn:hover {
  border-color: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
}
body.light .btn.playBtn {
  background-color: var(--md-sys-color-primary-fixed-dim-light);
  color: var(--md-sys-color-on-background-light);
}
body.light .btn.playBtn svg path {
  fill: var(--md-sys-color-on-background-light);
}

.btn {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none !important;
  min-width: 180px;
}
@media all and (max-width: 768px) {
  .btn {
    font-size: 16px;
    min-width: 140px;
    height: 45px;
  }
}
.btn svg {
  margin-right: 5px;
  width: 20px;
}

.btnSecondary {
  color: #222222;
  background-color: transparent;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  position: absolute;
  z-index: 9;
  width: 100%;
}
.mainHeader .brandName img, .mainHeader .brandName svg {
  width: 220px;
  height: 78px;
}
.mainHeader .mainMenu {
  display: flex;
  align-items: center;
}
.mainHeader .mainMenu .tabsList a {
  margin-left: 15px;
}
.mainHeader .mainMenu .tabsList a svg {
  display: none;
}
.mainHeader .mainMenu a {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  padding: 0 20px;
  height: 60px;
}
.mainHeader .mainMenu a span {
  display: inline-flex;
  align-items: center;
}
.mainHeader .mainMenu a.search > svg {
  display: none;
}
.mainHeader .mainMenu a:hover:not(.active) svg {
  opacity: 0.6;
}
.mainHeader .mainMenu .tabsList ~ a svg {
  width: 40px;
}

.profileDrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}
.profileDrop .profileOption {
  width: 490px;
  height: 100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  right: -520px;
  position: relative;
  transition: 0.2s all linear;
  overflow-y: auto;
}
.profileDrop .profileOption .head {
  display: flex;
  min-height: 40px;
  position: relative;
  margin-bottom: 20px;
  display: none;
}
.profileDrop .profileOption .head a {
  width: 40px;
  height: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profileDrop .profileOption .head a svg {
  height: 20px;
  width: 40px;
}
.profileDrop .profileOption .head .h4 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
}
.profileDrop .profileOption > .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
.profileDrop .profileOption > .text a {
  text-decoration: none;
  font-weight: 500;
}
.profileDrop .profileOption > .text.signOut {
  margin-top: auto;
  margin-bottom: 0;
  line-height: 30px;
}
.profileDrop .profileOption > .text.signOut a {
  text-decoration: underline;
}
.profileDrop .profileOption > .widget span {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.profileDrop .profileOption > .widget span b {
  font-size: 14px;
  font-weight: normal;
  margin-top: 5px;
  line-height: 20px;
}
.profileDrop .profileOption > .widget svg {
  width: 40px;
}
.profileDrop .profileOption .widget {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  text-decoration: none !important;
  margin-bottom: 20px;
  transform: scale(1);
  transition: 0.4s;
}
.profileDrop .profileOption .widget:hover {
  transform: scale(1.05);
}
.profileDrop .profileOption > span {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profileDrop .profileOption > span .widget {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}
.profileDrop .profileOption > span .widget span {
  margin-top: 15px;
}
.profileDrop.open {
  visibility: visible;
}
.profileDrop.open .profileOption {
  right: 0;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  flex-direction: column;
  padding: 50px 0;
  overflow-y: auto;
}
.splash > svg, .splash img {
  max-width: 450px;
  min-width: 450px;
  min-height: 150px;
  max-height: 150px;
}
.splash .playList {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.splash .playList a {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
  text-decoration: none !important;
}
.splash .playList a span.thumb {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash .playList a span.thumb svg {
  width: 55px !important;
}
.splash .playList a span:last-child {
  margin-top: 20px;
}
.splash > a {
  display: none;
  text-decoration: none !important;
  font-size: 20px;
  text-align: center;
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 15px;
  flex-direction: column;
  position: relative;
}
.login > .terms {
  position: absolute;
  bottom: 40px;
  text-align: center;
}
.login > .terms a {
  font-weight: 600;
}
.login .loginInner {
  max-width: 1200px;
  height: 500px;
  width: 100%;
  display: flex;
}
.login .loginInner > .brand {
  display: none;
}
.login .infoSlide {
  width: 50%;
  display: flex;
  align-items: center;
}
.login .infoSlide .item .h3 {
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: -30px;
}
.login .infoSlide .owl-nav {
  display: none !important;
}
.login .infoSlide .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.login .infoSlide .owl-dots button {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin: 0 4px;
  transition: 0.2s all linear;
}
.login .infoSlide .owl-dots button.active {
  width: 16px;
  height: 16px;
}
.login .loginForm {
  width: calc(50% + 2px);
  padding: 30px;
  margin: -1px;
}
.login .loginForm .formGroup {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.login .loginForm .formGroup .showPassword {
  height: 65px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
}
.login .loginForm .formGroup > svg {
  position: absolute;
  left: 18px;
  top: 18px;
}
.login .loginForm .formGroup input {
  width: 100%;
  height: 65px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 55px;
  border-radius: 4px;
}
.login .loginForm .btn {
  width: 100%;
  border: none;
  box-shadow: none !important;
}

.profileSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  flex-direction: column;
}
.profileSection > img, .profileSection > svg {
  max-height: 150px;
  margin-top: -150px;
  margin-bottom: 40px;
  max-width: 425px;
  max-height: 150px;
}
.profileSection .profileList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  justify-content: center;
}
.profileSection .profileList a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.profileSection .profileList a .thumb {
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 4px;
}
.profileSection .profileList a .text {
  font-size: 20px;
  font-weight: 500;
}
.profileSection .profileList a:not(.add) svg {
  width: 100px;
}
.profileSection .profileList a.add svg {
  width: 70px;
}

.mainBanner .item {
  position: relative;
}
.mainBanner .item .thumb {
  position: relative;
}
@media all and (min-width: 1200px) {
  .mainBanner .item .thumb {
    height: 900px;
  }
}
.mainBanner .item .thumb a.playBtn {
  position: absolute;
  left: 0;
  display: flex;
  right: 0;
  margin: auto;
  width: 130px;
  height: 130px;
  bottom: 0;
  top: 0;
}
.mainBanner .item .thumb a.playBtn svg {
  width: 100%;
}
.mainBanner .item .thumb:before, .mainBanner .item .thumb:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
}
.mainBanner .item .thumb:after {
  right: 0;
  left: auto;
}
.mainBanner .item .thumb .effectGrad {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainBanner .item .thumb .effectGrad:before, .mainBanner .item .thumb .effectGrad:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
}
.mainBanner .item .thumb .effectGrad:after {
  bottom: 0;
  top: auto;
}
.mainBanner .item .thumb > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainBanner .item .info {
  position: absolute;
  z-index: 3;
  bottom: 30px;
  padding: 0 0 0 100px;
  max-width: 1000px;
}
.mainBanner .item .info > .btnGroup {
  padding-top: 10px;
}
.mainBanner .item .info .h2 {
  font-size: 72px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2.35px;
}
.mainBanner .item .info .playInfo {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 15px 0 5px;
}
.mainBanner .item .info .playInfo > *:not(:last-child) {
  margin-right: 15px;
}
.mainBanner .item .info .playInfo .date {
  padding: 0 12px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.mainBanner .item .info .playInfo .rating {
  padding: 0 12px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.mainBanner .item .info .playInfo .rating svg {
  margin-right: 4px;
  width: 16px;
}
.mainBanner .item .info .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 15px 0;
}
.mainBanner .item .info .btnGroup select {
  margin-right: 20px;
  height: 60px;
  padding: 0 50px 0 15px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("../img/down.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  min-width: 180px;
}
.mainBanner .item .info .btnGroup .btn:not(:last-child) {
  margin-right: 20px;
}
.mainBanner .owl-nav {
  display: none !important;
}
.mainBanner .owl-dots {
  display: flex;
  position: absolute;
  right: 100px;
  bottom: 40px;
}
.mainBanner .owl-dots button {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  margin-left: 10px;
  transition: 0.2s width linear;
}
.mainBanner .owl-dots button.active {
  width: 36px;
}

.category {
  padding-left: 70px;
}
.category .owl-nav, .category .owl-dots {
  display: none !important;
}
.category .h3 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  margin: 40px 0 0 30px;
}
.category .owl-stage {
  padding: 30px !important;
}
.category .item {
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s all linear;
}
.category .item .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.category .item .caption:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 63.02%);
  visibility: hidden;
}
.category .item .caption > * {
  z-index: 1;
  position: relative;
}
.category .item .caption .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category .item .caption .control .count {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.category .item .caption .info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 5px;
  visibility: hidden;
}
.category .item .caption .h2 {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 22px;
  font-weight: bold;
  visibility: hidden;
}
.category .item .thumb {
  max-height: 300px;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
}
.category .item .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category .item:hover {
  transform: scale(1.05);
}
.category .item:hover .caption:after, .category .item:hover .caption .info, .category .item:hover .caption .h2 {
  visibility: visible;
}

.castCrew {
  padding-left: 70px;
}
.castCrew .owl-nav, .castCrew .owl-dots {
  display: none !important;
}
.castCrew .h3 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  margin: 40px 0 0 30px;
}
.castCrew .owl-stage {
  padding: 30px !important;
}
.castCrew .item {
  cursor: pointer;
}
.castCrew .item .thumb {
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.castCrew .item .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.castCrew .item .h4 {
  font-size: 24px;
  text-align: center;
  display: block;
  margin: 15px 0 0;
  font-weight: normal;
  padding: 0 4px;
}
.castCrew .item:hover .h4 {
  font-weight: 600;
}

.seriesList {
  padding: 0 80px 100px;
}
.seriesList .h3 {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  margin: 40px 0 20px 20px;
  align-items: baseline;
}
.seriesList .h3 b {
  font-size: 25px;
  font-weight: 500;
  margin-left: 50px;
}
.seriesList .list {
  position: relative;
  padding: 20px;
}
.seriesList .list .listLink {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none !important;
}
.seriesList .list .downloadBtn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  right: 20px;
  top: 20px;
  position: absolute;
}
.seriesList .list .downloadBtn:hover {
  opacity: 0.6;
}
.seriesList .list .thumb {
  width: 300px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seriesList .list .thumb svg {
  position: absolute;
  width: 80px;
  z-index: 1;
}
.seriesList .list .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.seriesList .list .info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.seriesList .list .info .h4 {
  font-size: 28px;
}
.seriesList .list .info .rate {
  margin-top: 6px;
}
.seriesList .list .info .rate svg {
  width: 20px;
  margin-right: 8px;
}
.seriesList .list .info .dur {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
}
.seriesList .list .text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 15px 0 0;
}

.liveTv {
  padding: 130px 100px 30px;
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
.liveTv > .panel {
  width: calc(33.3333333333% - 15px);
  min-height: 600px;
}
.liveTv > .panel .pHead {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.liveTv > .panel .pHead .h5 {
  font-size: 24px;
  font-weight: 500;
}
.liveTv > .panel .pHead .controls {
  min-width: 100%;
  position: relative;
}
.liveTv > .panel .pHead .controls > svg {
  position: absolute;
  right: 14px;
  top: 0;
  width: 22px;
  bottom: 0;
  margin: auto;
}
.liveTv > .panel .pHead .controls input {
  height: 50px;
  width: 100%;
  padding: 0 45px 0 10px;
  font-size: 20px;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.liveTv > .panel.tvCategory .pBody {
  overflow-y: auto;
  height: calc(100% - 80px);
}
.liveTv > .panel.tvCategory .pBody > a {
  height: 80px;
  display: flex;
  padding: 0 30px;
  align-items: center;
  text-decoration: none !important;
  font-size: 30px;
}
.liveTv > .panel.tvList .pBody {
  counter-reset: number;
  overflow-y: auto;
  padding-bottom: 30px;
  height: calc(100% - 80px);
}
.liveTv > .panel.tvList .pBody .list {
  padding: 0 20px 0 0;
  margin-top: 30px;
  display: flex;
  position: relative;
  counter-increment: number;
}
.liveTv > .panel.tvList .pBody .list:before {
  content: counter(number) ".";
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}
.liveTv > .panel.tvList .pBody .list .channelList {
  display: flex;
}
.liveTv > .panel.tvList .pBody .list .channelList .thumb {
  display: flex;
  width: 130px;
  height: 75px;
}
.liveTv > .panel.tvList .pBody .list .channelList .thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.liveTv > .panel.tvList .pBody .list .channelList .info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  font-size: 18px;
  justify-content: space-between;
}
.liveTv > .panel.tvList .pBody .list .channelList .info a {
  display: flex;
  flex-direction: column;
}
.liveTv > .panel.tvList .pBody .list .channelList .info strong {
  font-size: 22px;
  font-weight: normal;
}
.liveTv > .panel.tvList .pBody .list a {
  text-decoration: none !important;
}
.liveTv > .panel.tvList .pBody .list a.favourite {
  position: absolute;
  top: 5px;
  right: 10px;
}
.liveTv > .panel.steamDetail {
  display: flex;
  flex-direction: column;
}
.liveTv > .panel.steamDetail .videoPlay {
  width: 100%;
  min-height: 350px;
  max-height: 350px;
  margin-bottom: 20px;
}
.liveTv > .panel.steamDetail .videoPlay video {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.liveTv > .panel.steamDetail > .panel {
  height: calc(100% - 370px);
}
.liveTv > .panel.steamDetail > .panel .pBody {
  overflow-y: auto;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.liveTv > .panel.steamDetail > .panel .pBody span {
  font-size: 20px;
  padding: 0 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  min-height: 40px;
  max-height: 40px;
  line-height: 40px;
}
.liveTv > .panel.steamDetail > .panel .pBody span b {
  font-weight: normal;
  margin-right: 20px;
}
.liveTv > .panel.steamDetail > .panel .pBody span.active {
  font-weight: 600;
}

.playerView {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.flowplayer {
  height: 100vh;
}
.flowplayer flowplayer-control.fp-controls {
  margin-bottom: 60px;
}
.flowplayer.is-hovered .otherOptions, .flowplayer.is-touched .otherOptions {
  opacity: 1;
}
.flowplayer.is-starting .otherOptions {
  visibility: hidden;
}

.otherOptions {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
.otherOptions a {
  display: flex;
  align-items: center;
  text-decoration: none !important;
  font-size: 22px;
}
.otherOptions a svg {
  width: 24px;
  max-height: 24px;
  margin-right: 8px;
}

@media all and (max-width: 1500px) {
  .seriesList {
    padding: 0 15px 100px;
  }
  .mainHeader {
    padding: 15px 0 15px 15px;
  }
  .category {
    padding-left: 0;
  }
  .category .h3 {
    margin-left: 15px !important;
    font-size: 20px;
  }
  .category .owl-stage {
    padding: 15px !important;
  }
  .castSlider {
    padding-left: 0;
  }
  .castSlider .h3 {
    margin-left: 15px !important;
    font-size: 20px;
    margin-top: 0;
  }
  .castSlider .owl-stage {
    padding: 15px !important;
  }
  .mainBanner {
    padding: 0 15px 15px;
  }
  .mainBanner .item .info {
    padding-left: 15px;
  }
  .mainBanner .item .info .h2 {
    font-size: 50px;
  }
  .liveTv {
    padding: 130px 20px 30px;
  }
}
@media all and (max-width: 1300px) {
  .mainHeader {
    position: relative;
  }
  .liveTv {
    padding: 0 20px 20px;
    height: calc(100vh - 112px);
  }
  .liveTv > .panel .pHead {
    padding: 0 15px;
  }
  .liveTv > .panel .pHead .controls input {
    font-size: 16px;
  }
  .liveTv > .panel.tvCategory {
    max-width: 250px;
    min-width: 250px;
  }
  .liveTv > .panel.tvCategory .pBody > a {
    font-size: 18px;
    height: 50px;
    padding: 0 15px;
  }
  .liveTv > .panel.tvList {
    max-width: 360px;
    min-width: 360px;
    margin-left: 15px;
  }
  .liveTv > .panel.tvList .pBody .list {
    margin-top: 20px;
  }
  .liveTv > .panel.tvList .pBody .list:before {
    width: 40px;
    font-size: 16px;
  }
  .liveTv > .panel.tvList .pBody .list .channelList .thumb {
    width: 80px;
    height: 70px;
  }
  .liveTv > .panel.tvList .pBody .list .channelList .info {
    font-size: 16px;
    margin-left: 8px;
    max-width: 190px;
    min-width: 190px;
  }
  .liveTv > .panel.tvList .pBody .list .channelList .info strong {
    font-size: 20px;
  }
  .liveTv > .panel.steamDetail {
    width: calc(100% - 20px);
    margin-left: 15px;
  }
  .liveTv > .panel.steamDetail .videoPlay {
    margin-bottom: 15px;
  }
  .liveTv > .panel.steamDetail > .panel .pBody span {
    min-height: 30px;
    max-height: 30px;
    line-height: 30px;
  }
}
@media all and (max-width: 1200px) {
  body:not(.noTabs) {
    padding-bottom: 100px !important;
  }
  .mainHeader .mainMenu a {
    padding: 0px 15px;
  }
  .mainHeader .mainMenu a.search span {
    display: none !important;
  }
  .mainHeader .mainMenu a.search > svg {
    display: block;
    width: 24px;
  }
  .mainHeader .mainMenu .tabsList {
    position: fixed;
    z-index: 99;
    bottom: 0;
    background-color: var(--md-sys-color-on-secondary-fixed-dark);
    width: 100%;
    left: 0;
    display: flex;
  }
  .mainHeader .mainMenu .tabsList a {
    width: 20%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    height: 80px;
    border: none !important;
    font-weight: normal;
    font-size: 14px;
    justify-content: space-between;
    color: #4E5575 !important;
  }
  .mainHeader .mainMenu .tabsList a svg {
    margin-bottom: 8px;
    display: block;
  }
  .mainHeader .mainMenu .tabsList a svg path {
    fill: #4E5575 !important;
  }
  .mainHeader .mainMenu .tabsList a.active {
    color: #ffffff !important;
  }
  .mainHeader .mainMenu .tabsList a.active svg path {
    fill: #ffffff !important;
  }
  .mainHeader .mainMenu .tabsList ~ a svg {
    width: 36px;
  }
  .mainBanner > .item {
    margin: 0 -15px;
  }
  .mainBanner > .item .thumb:before, .mainBanner > .item .thumb:after, .mainBanner > .item .thumb .effectGrad {
    display: none;
  }
  .mainBanner > .item .info {
    position: relative;
    bottom: 0;
    padding: 15px;
  }
  .liveTv {
    padding: 0 20px 0;
    height: calc(100vh - 212px);
  }
  .liveTv > .panel {
    width: calc(33.3333333333% - 15px);
    min-height: 600px;
    padding-bottom: 100px !important;
  }
  .liveTv > .panel .pHead {
    height: 50px;
    padding: 0 10px;
  }
  .liveTv > .panel .pHead .h5 {
    font-size: 15px;
  }
  .liveTv > .panel .pHead .controls svg {
    width: 10px;
    right: 5px;
  }
  .liveTv > .panel .pHead .controls input {
    font-size: 12px;
    height: 30px;
    padding-right: 10px;
  }
  .liveTv > .panel .pBody {
    height: calc(100% - 50px) !important;
    padding-bottom: 10px !important;
  }
  .liveTv > .panel.tvCategory {
    max-width: 180px;
    min-width: 180px;
  }
  .liveTv > .panel.tvCategory .pBody > a {
    font-size: 13px;
    height: 30px;
  }
  .liveTv > .panel.tvList {
    min-width: 290px;
    max-width: 290px;
    padding: 0;
  }
  .liveTv > .panel.tvList .pBody .list:before {
    font-size: 10px;
  }
  .liveTv > .panel.tvList .pBody .list .channelList .thumb {
    width: 50px;
    height: 50px;
  }
  .liveTv > .panel.tvList .pBody .list .channelList .info {
    font-size: 12px;
    max-width: 150px;
    min-width: 150px;
  }
  .liveTv > .panel.tvList .pBody .list .channelList .info a strong {
    font-size: 14px;
  }
  .liveTv > .panel.tvList .pBody .list .favourite svg {
    width: 18px;
  }
  .liveTv > .panel.steamDetail {
    width: calc(100% - 500px);
  }
  .liveTv > .panel.steamDetail .videoPlay {
    margin-bottom: 15px;
  }
  .liveTv > .panel.steamDetail > .panel .pBody span {
    min-height: 30px;
    max-height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 10px;
  }
  .liveTv > .panel.steamDetail > .panel .pBody span b {
    margin-right: 10px;
  }
}
@media all and (max-width: 991px) {
  .mainBanner .owl-carousel {
    border: var(--md-ref-palette-primary40) solid 1px;
  }
  .mainBanner .owl-carousel .item .thumb {
    height: 450px;
  }
  .mainBanner .owl-carousel .item .thumb img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .mainBanner .owl-carousel .item .thumb .effectGrad {
    width: 100%;
    height: 100%;
    background-color: rgba(19, 26, 47, 0.5);
    z-index: 1;
  }
  .mainBanner .owl-carousel .item .thumb .effectGrad:before, .mainBanner .owl-carousel .item .thumb .effectGrad:after {
    display: none;
  }
  .mainBanner .owl-carousel .item .thumb:before, .mainBanner .owl-carousel .item .thumb:after {
    display: none;
  }
  .mainBanner .owl-carousel .item .info {
    padding: 0 15px;
    width: 100%;
  }
  .mainBanner .owl-carousel .item .info .h2 {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 40px;
  }
  .mainBanner .owl-carousel .item .info .text {
    display: none;
  }
  .mainBanner .owl-carousel .item .info .btnGroup {
    justify-content: center;
  }
  .mainBanner > .item .info {
    display: flex;
    flex-direction: column;
  }
  .mainBanner > .item .info > .text {
    order: 4;
  }
  .mainBanner > .item .info .h2 {
    width: 100%;
    display: block;
    font-size: 40px;
  }
  .mainBanner > .item .info .btnGroup {
    flex-wrap: wrap;
  }
  .mainBanner .owl-dots {
    display: none;
  }
  .category .item .caption .info, .category .item .caption .h2, .category .item .caption:after {
    display: none !important;
  }
  .login {
    min-height: 100%;
    justify-content: flex-start;
  }
  .login .loginInner {
    flex-direction: column;
    height: auto;
    border: none;
    align-items: center;
  }
  .login .loginInner > .brand {
    display: block;
  }
  .login .loginInner .infoSlide {
    width: 100%;
    display: none;
  }
  .login .loginInner .loginForm {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    margin-top: 30px;
  }
  .liveTv > .panel.tvCategory {
    max-width: 140px;
    min-width: 140px;
  }
  .liveTv > .panel.tvList {
    min-width: 260px;
    max-width: 260px;
    padding: 0;
  }
  .liveTv > .panel.steamDetail {
    width: calc(100% - 420px);
  }
  .liveTv > .panel.steamDetail .videoPlay {
    min-height: 250px;
    max-height: 250px;
  }
  .liveTv > .panel.steamDetail > .panel {
    height: calc(100% - 265px);
  }
}
@media all and (max-width: 768px) {
  .mainHeader .brandName img, .mainHeader .brandName svg {
    width: 150px;
    height: 50px;
  }
  .castCrew .item .h4 {
    font-size: 16px;
  }
  .mainBanner .owl-carousel .item .info .h2 {
    font-size: 30px;
  }
  .mainBanner > .item .thumb {
    min-height: 300px;
    height: 300px;
  }
  .mainBanner > .item .info {
    display: flex;
    flex-direction: column;
  }
  .mainBanner > .item .info .text {
    font-size: 16px;
    line-height: 20px;
  }
  .mainBanner > .item .info .btnGroup {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mainBanner > .item .info .btnGroup select {
    height: 45px;
    font-size: 16px;
    margin: 0 0 10px 0 !important;
  }
  .mainBanner > .item .info .btnGroup .btn:not(:last-child) {
    margin: 0 0 10px 0 !important;
  }
  .mainBanner > .item .info .h2 {
    font-size: 30px;
  }
  .mainBanner > .item .info .playInfo {
    font-size: 14px;
    padding: 10px 0;
  }
  .mainBanner > .item .info .playInfo .rating, .mainBanner > .item .info .playInfo .date {
    height: 28px;
  }
  .mainBanner > .item .info > .text {
    margin: 10px 0 0 !important;
  }
  .category .item .caption {
    padding: 10px;
  }
  .category .item .caption .control .count {
    width: 25px;
    height: 25px;
    border-radius: 4px;
  }
  .category .item .caption .control a svg {
    width: 25px;
  }
  .profileSection {
    position: relative;
    min-height: 100vh;
    padding: 50px 0;
  }
  .profileSection > img, .profileSection > svg {
    margin: 0 0 50px 0;
    width: 250px;
    height: 80px;
    margin: 0;
  }
  .profileSection .profileList a {
    width: calc(50% - 30px);
    margin: 15px;
  }
  .profileSection .profileList a span.thumb {
    margin: 0 0 10px;
    width: 100%;
  }
  .splash {
    position: relative;
    min-height: 100vh;
    padding: 50px 15px;
  }
  .splash > img, .splash > svg {
    margin: 0;
    min-width: 250px;
    max-width: 250px;
    max-height: 80px;
    min-height: 80px;
  }
  .splash .playList {
    margin: 50px 0;
  }
  .splash .playList a {
    min-width: 200px;
    padding: 20px;
  }
  .seriesList {
    padding: 0 15px 0;
  }
  .seriesList .h3 {
    font-size: 20px;
    margin: 0;
  }
  .seriesList .h3 b {
    font-size: 18px;
  }
  .seriesList .list {
    padding: 0;
    margin-top: 20px;
    border: none !important;
  }
  .seriesList .list .downloadBtn {
    width: 30px;
    height: 30px;
    right: 0;
    top: 0;
  }
  .seriesList .list .downloadBtn svg {
    width: 18px;
  }
  .seriesList .listLink .thumb {
    width: 130px;
    height: 90px;
  }
  .seriesList .listLink .thumb svg {
    width: 60px;
  }
  .seriesList .listLink .text {
    font-size: 16px;
    line-height: 24px;
    height: 75px;
    overflow: hidden;
  }
  .seriesList .listLink .info {
    margin-left: 10px;
  }
  .seriesList .listLink .info .h4 {
    font-size: 22px;
  }
  .seriesList .listLink .info .rate svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
  .seriesList .listLink .info .dur {
    font-size: 16px;
  }
  .profileDrop {
    padding: 0;
  }
  .profileDrop .profileOption {
    width: 100%;
    overflow-y: auto;
  }
  .profileDrop .profileOption .head {
    display: flex;
  }
}
@media all and (max-width: 650px) {
  .liveTv {
    flex-direction: column-reverse;
    height: auto;
  }
  .liveTv > .panel {
    min-width: 100% !important;
    max-width: 100% !important;
    margin-left: 0 !important;
    padding: 0 !important;
  }
  .liveTv > .panel:not(:last-child) {
    margin-top: 15px !important;
  }
}/*# sourceMappingURL=main.css.map */