.network-alert-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-surface-dark);
    .network-icon{
        color: var(--md-source);
        font-size: 50px;
    }
    p,h2{
        margin: 0;
        color: white;
    }
    h2{
        margin-top: 20px;
    }
    p{
        margin-top: 5px;
    }
    button{
        padding: 13px;
        border-radius: 3px;
        font-size: 15px;
    }
}