$color1											: 	#615DFC;
$color2											: 	#131A2F;
$color3											: 	#ffffff;
$color4 										: 	#FF0000;
$color5											: 	#FEC007;
$color6											: 	#27ae60;
$color7											: 	#2B2F64;
$color8											: 	#9593FF;
$color9											: 	#9796B9;


$primary    									:   $color1;
$secondary       								:   $color2;


$white            								: 	$color3;
$red		     						        :   $color4;
$yellow            								: 	$color5;
$green		     						        :   $color6;


$btnBG		     						        :   $color7;
$btnBorder		     						    :   $color8;


$owlDots		     						    :   $color9;