@import url("../../app/css/tokens.css");

.enter-parental-lock-containerr{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
  width: 350px;
  padding: 10px;
  height:auto;
  background: var( --md-ref-palette-primary30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding-top: 50px;
  padding-bottom: 20px;
  z-index: 999999 !important;
  // padding-left: 50px;
  // padding-right: 50px;
  .players{
    display: flex;
    flex-direction: column;
    width: 100%;
    .player{
      display: flex;
      p{
        color: white;
        font-weight: 500;
      }
    }
  }
  .close-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 99;
    width: 20px;
    height: 20px;
    color: black;
    padding: 1px;
    border-radius: 50%;
    background-color: white;
  }
  .heading{
    background-color: var( --md-ref-palette-primary30) ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid white;
    p{
        font-size: 20px;
        color: white;
        text-align: center;
    }
  }
  .enter-pin-code-title{
    color: white;
    font-size: 16px;
    font-weight:500;
    margin-top: 50px;
  }
  .btns{
    display: flex;
    margin-top: 20px;
    column-gap: 20px;
    .btn{
      min-width: 50px;
      font-size: 16px;
      height: 45px;
    }
  }
}