@import "../../../../app/mixins.scss";
@import "../../../../app/_variables.scss";
// @import "../../app/main.css";
@import "../../../../app/css/tokens.css";

.live-player,
.live-player-fullscreen {
    height: 100%;
    p, h2{
        margin: 0;
        padding: 0;
    }
    a {
        // opacity: 0;
        // z-index: -99 !important;
    }
 
    .progress-bar, .progress-bar-wo-fullscreen{
        width: 100%;
        height: 9px;
        background-color: lightgray;
        margin-top: 15px;
        position: relative;
        border-radius: 3px;
        z-index: 999;
        .completed-progress{
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: var(--md-source);
            border-radius: 3px;
        }
    }
    .progress-bar-wo-fullscreen{
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: 95%;
        transform: translateX(-50%);
    }
    .current-program-timings{
        position: absolute;
        bottom: 65px;
        left: 50%;
        z-index: 999;
        width: 95%;
        display: flex;
        justify-content: space-between;
        transform: translateX(-50%);
        p{
            font-size: 17px;
            font-weight: bold;
            color: white;
        }
    }
    .back-btn,
    .play-pause-btn {
        position: absolute;
        top: 20px;
        left: 20px;
        // z-index: 999999 !important;
        width: 40px;
        height: 40px;
        transition: .5s;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }

    .back-btn {
        z-index: 99;
    }


    #player-wrapperr {
        .play-pause-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%);
        }

        .fp-bar>.fp-progress.animated {
            background: var(--md-source);
        }

        .fp-bar>.fp-buffer {
            width: 100% !important;
        }

        .channel-name {
            position: absolute;
            top: -20px;
            padding-top: 40px;
            left: 50%;
            transform: translateX(-50%);
            // z-index: 999999999 !important;
            width: 100%;
            color: white;
            text-align: center;
            height: 100px;
            font-size: 18px;
            background: linear-gradient(to bottom, rgb(0, 0, 0, 0.6), transparent);
        }

        .fp-play,
        .fp-pause {
            display: none;
        }

        .fp-controls {
            // display: none !important;
            display: none !important;
            position: absolute;
            bottom: 40px;
            left: 0;

            .fp-volume {
                display: none;
            }

            .fp-icon {
                display: none !important;
            }
        }

        .fp-header {
            display: none !important;
        }
      
        .live-bottom-controls {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 50%;
            align-items: center;
            column-gap: 30px;
            padding-left: 20px;
            justify-content: space-around;
            width: 100%;
            transform: translateX(-50%);
            background: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent);
            height: 100px;
            z-index: 1;
            .full-screen-icon-container{
                position: absolute;
                    right: 10px;
                    bottom: 0px;
                    cursor: pointer;

                .full-screen-icon{
                    width: 30px;
                    height: 30px;
                    // font-size: 40px;
                    z-index: 999999;
                    color: white;
                }
            }
            .option {
                display: flex;
                column-gap: 5px;
                align-items: center;
              
                img {
                    width: 15px;
                    height: 15px;
                }
                
                p {
                    font-weight: 500;
                    color: white;
                }

                &:nth-child(1) {
                    img {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .live-bottom-controls-fullscreen {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 50%;
            align-items: center;
            column-gap: 30px;
            padding-left: 20px;
            justify-content: space-between;
            width: 95%;
            transform: translateX(-50%);
            background: linear-gradient(to top, rgb(0, 0, 0, 0.6), transparent);
            height: 100px;
            z-index: 999999;
            .full-screen-icon-container{
                position: fixed;
                right: 0px;
                bottom: 15px;
                cursor: pointer;
                .full-screen-icon{
                    width: 25px;
                    height: 25px;
                }
            }
            .option {
                display: flex;
                column-gap: 5px;
                align-items: center;
                img {
                    width: 30px;
                    height: 30px;
                }

                p {
                    font-weight: 500;
                    color: white;
                    font-size: 17px;
                }

                &:nth-child(1) {
                    img {
                        transform: rotate(180deg);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }


        .error-modal {
            background-color: black;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // z-index: 9999999;    
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
             p{
                margin-bottom: 10px;
             }
            .back-btn {
                position: fixed;
                top: 20px;
                left: 20px;
                z-index: 9999999;
                width: 40px;
                height: 40px;
                transition: .5s;

                &:hover {
                    cursor: pointer;
                    opacity: 0.6;
                }
            }

            p {
                color: white;
                font-weight: 500;
                font-size: 16px;
            }

            button {
                font-weight: 500;
                font-size: 14px;
                background-color: var(--md-ref-palette-primary50);
                color: white;
                border: none;
                outline: none;
                border-radius: 3px;
                padding: 10px;
                transition: .3s;

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                }
            }
        }
        .current-program-info-container{
            width: 95%;
            height: 150px;
            position: fixed;
            bottom: 55px;
            left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            z-index: 9999;
            .current-program-info{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;                
                .image-and-info{
                    display: flex;
                    align-items: flex-end;
                    gap: 20px;
                    img{
                        width: 70px;
                        height: 70px;
                        object-fit: contain;
                        background-color: rgb(255, 255, 255, .8);
                        border-radius: 5px;
                    }
                    .current-program-channel-details{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        .current-channel{
                            font-size: 25px;
                            color: white;
                            font-size: bolder;
                        }
                        .current-program-info{
                            color: white;
                            font-size: 17px;
                            font-weight: 200;
                        }
                    }
                }
             
            }
            .current-program-timing{
                p{
                    color: white;
                }
            }
            .progress-bar{
                width: 100%;
                height: 9px;
                background-color: lightgray;
                margin-top: 15px;
                z-index: 999;
                position: relative;
                .completed-progress{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    background-color: var(--md-source);
                }
            }
        }
        .live-full-screen-gradient{
            width: 100%;
            height: 250px;
            position: fixed;
            bottom: 0;
            left: 0;
            height: 200px;
            background: linear-gradient(to top, black, transparent);
        }
    }
}

.live-player-fullscreen {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: black;

    #player-wrapperr {

        .fp-controls {
            bottom: 80px;
        }
        
    }
    
}
.loading-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
}

@media only screen and (max-width:900px) {
    .live-player {
        height: 250px;
    }
}

@media all and (display-mode:fullscreen) {
    .live-player {
        #player-wrapperr {
            .fp-controls {
                bottom: 90px;
            }
        }
    }
}
@media screen and (max-width: 896px) and (max-height: 414px) {
 .live-player {
        height: 100%;
    }
    .live-player #player-wrapperr .error-modal p{
    font-size: 13px !important;
}
}
@media screen and (max-width: 667px) and (max-height: 375px) {
    
.live-player #player-wrapperr .error-modal p{
    font-size: 13px !important;
}}
@media screen and (max-width: 932px) and (max-height: 430px) {
.live-player #player-wrapperr .error-modal p{
    font-size: 13px !important;
}

}
